/** @format */
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
nav {
  width: 100%;
  height: 10vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: sticky;
  top: 0;
  z-index: 99;
}

.logo {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.logo h1 {
  margin: 1.5rem 0rem;
  color: #333333;
  font-size: clamp(1.5rem, 1.3vw, 40rem);
  font-weight: 300;
  transition: .3s ease;
}

.logo h1:hover {
  color: #d82d2d;
}

.logo i {
  display: none;
  transition: .5s ease;
}

.logo i:hover {
  color: #d82d2d;
}

.navlink-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 60%;
}

.navlink-container ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.navlink-container ul li, .navlink-container ul a {
  margin: 0rem 1rem;
  font-size: clamp(1rem, 1vw, 20rem);
  color: #333333;
  font-weight: 200;
  cursor: pointer;
  transition: .3s ease;
}

.navlink-container ul li:hover, .navlink-container ul a:hover {
  color: #d82d2d;
}

.dropdown {
  display: inline-block;
  position: relative;
  z-index: 99;
}

.dropdown i {
  transition: .3s ease-out;
}

.dropdown:hover i {
  transform: rotate(180deg);
}

.dropdown .dropdwn-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  padding: 1rem 0rem;
  text-align: center;
  background-color: white;
  z-index: 3;
  position: absolute;
  transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.dropdown:hover .dropdwn-content {
  opacity: 1;
  visibility: visible;
}

.dropdown:hover .dropdwn-content a, .dropdown:hover .dropdwn-content i {
  font-size: clamp(1rem, 1vw, 10rem);
  padding: 1rem 0rem;
}

.dropdown:hover .dropdwn-content a:hover, .dropdown:hover .dropdwn-content i:hover {
  color: #d82d2d;
}

.dropdown2 {
  display: inline-block;
  position: relative;
}

.dropdown2 #drop-i {
  transform: rotate(270deg);
  transition: .3s ease-out;
}

.dropdown2:hover #drop-i {
  transform: rotate(360deg);
}

.dropdown2 .dropdwn-content2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  text-align: center;
  opacity: 0;
  width: 100%;
  padding: 1rem 1rem;
  z-index: 3;
  transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  position: absolute;
  top: 50%;
  left: 101%;
}

.dropdown2:hover .dropdwn-content2 {
  opacity: 1;
}

.dropdown2:hover .dropdwn-content2 a, .dropdown2:hover .dropdwn-content2 i {
  padding: 1rem 0rem;
  font-size: 1rem, 1vw, 4rem;
}

.dropdown2:hover .dropdwn-content2 a:hover, .dropdown2:hover .dropdwn-content2 i:hover {
  color: #d82d2d;
}

.search-container {
  padding: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.search-container .sarch {
  font-size: clamp(1rem, 0.8vw, 2rem);
}

.search-container .search {
  width: 100%;
}

.search-container input[type=search] {
  opacity: 0;
  width: 0%;
  padding: .5rem 0rem;
  border: 1px solid rgba(0, 0, 0, 0.171);
  border-radius: .3rem;
  color: #d82d2d;
  font-size: 1rem;
  outline: none;
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  caret-color: #d82d2d;
}

.search-container:hover input[type=search] {
  opacity: 1;
  width: 85%;
}

.search-container:hover input[type=search] input[type="search"]::-webkit-search-cancel-button,
.search-container:hover input[type=search] input[type="search"]::-webkit-search-results-button,
.search-container:hover input[type=search] input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

@media (max-width: 980px) {
  nav {
    height: 10vh;
  }
  .logo {
    width: 100%;
    justify-content: space-around;
  }
  .logo i {
    display: inline;
  }
  .navlink-container {
    display: none;
  }
  .navlink-container.toggleNav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: block;
    position: absolute;
    top: 100%;
    background-color: white;
    z-index: 99;
  }
  .navlink-container.toggleNav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .navlink-container.toggleNav ul li {
    padding: 1rem 0rem;
  }
  .dropdown {
    width: 100%;
    text-align: center;
  }
  .dropdown i {
    display: none;
  }
  .dropdown .dropdwn-content i {
    display: none;
  }
  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
  }
  .search input[type=search] {
    width: 80%;
    display: inline;
    opacity: 1;
    margin-left: 1rem;
  }
}

@media (max-width: 900px) and (min-width: 660px) and (orientation: landscape) {
  nav {
    height: 15vh;
  }
}

@media (min-width: 720px) and (max-width: 1030px) {
  .search-container {
    display: none;
  }
  .dropdown i {
    display: none;
  }
}

footer {
  width: 100%;
  height: 10vh;
  background-color: #0e1015;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

footer .footer-text {
  width: auto;
  height: auto;
}

footer .footer-social {
  width: auto;
  height: auto;
}

footer .footer-social i {
  margin: 0rem .5rem;
  font-size: 1.3rem;
  transition: all .3s ease-in;
}

footer .footer-social i:hover {
  color: #d82d2d;
}

/**
 * /* 
 *   ##Device = Most of the Smartphones Mobiles (Portrait)
 *   ##Screen = 320px to 479px
 *
 * @format
 */
@media (min-width: 240px) and (max-width: 480px) {
  footer {
    height: 15vh;
    flex-direction: column;
    text-align: center;
    padding: 0rem .5rem;
  }
}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = 481px to 767px
*/
@media (min-width: 565px) and (max-width: 960px) and (orientation: landscape) {
  footer {
    height: 20vh;
  }
}

/* 
##Device = Tablets, Ipads (portrait)
##Screen =  768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  footer {
    height: 10vh;
  }
}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/
/* 
##Device = Laptop(portrait)
##Screen = B/w 1200px to 1450px
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

.contact-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.contact-container::before {
  content: '';
  width: inherit;
  height: 65%;
  background: url(../Images/Background/MostPlayedAgents.jpg) no-repeat 50% 35%;
  background-size: cover;
  position: absolute;
  z-index: -1;
}

.contact-container .contact-content {
  width: inherit;
  height: inherit;
  position: relative;
}

.contact-container .contact-content::before {
  content: '';
  width: 10%;
  height: 75%;
  background-color: #d82d2d;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -45%);
  z-index: 2;
}

.contact-container .contact-content .contact-img {
  width: 15%;
  height: 40%;
  background-color: white;
  position: absolute;
  top: 35%;
  left: 35%;
  transform: translate(-35%, -35%);
  z-index: 3;
}

.contact-container .contact-content .contact-img img {
  width: 100%;
  height: 100%;
}

.contact-container .contact-content .contact-text {
  width: 20%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem 2rem;
  background-color: #0d0d1c;
  position: absolute;
  top: 70%;
  left: 56%;
  transform: translate(-70%, -56%);
  z-index: 3;
  color: white;
}

.contact-container .contact-content .contact-text h2 {
  font-size: clamp(1rem, 2rem, 3vw);
  margin: 1rem 0rem;
}

.contact-container .contact-content .contact-text p {
  padding-bottom: .5rem;
  font-family: "Open Sans", sans-serif;
}

.contact-container .contact-content .contact-text .socials i {
  font-size: 1.3rem;
  margin: 1rem .5rem;
}

/**
 * /* 
 *   ##Device = Most of the Smartphones Mobiles (Portrait)
 *   ##Screen = 320px to 479px
 *
 * @format
 */
@media (min-width: 240px) and (max-width: 480px) {
  .contact-container {
    height: 120vh;
  }
  .contact-container .contact-content::before {
    width: 55%;
    height: 80%;
    top: 55%;
    left: 60%;
    transform: translate(-55%, -60%);
  }
  .contact-container .contact-content .contact-img {
    width: 65%;
    height: 40%;
    top: 20%;
    left: 25%;
    transform: translate(-20%, -25%);
  }
  .contact-container .contact-content .contact-text {
    width: 65%;
    padding: 1rem 2rem;
    top: 70%;
    left: 65.5%;
    transform: translate(-70%, -65.5%);
  }
  .contact-container .contact-content .contact-text h2 {
    font-size: clamp(1rem, 2rem, 3vw);
    margin: 1rem 0rem;
  }
  .contact-container .contact-content .contact-text p {
    padding-bottom: .5rem;
    font-family: "Open Sans", sans-serif;
  }
  .contact-container .contact-content .contact-text .socials i {
    font-size: 1.3rem;
    margin: 1rem .5rem;
  }
}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = 481px to 767px
*/
@media (min-width: 565px) and (max-width: 960px) and (orientation: landscape) {
  .contact-container {
    height: 200vh;
  }
  .contact-container .contact-content::before {
    width: 30%;
    height: 85%;
  }
  .contact-container .contact-content .contact-img {
    width: 35%;
    top: 35%;
    left: 25%;
    transform: translate(-35%, -25%);
  }
  .contact-container .contact-content .contact-text {
    width: 40%;
    top: 75%;
    left: 65%;
    transform: translate(-75%, -65%);
  }
}

/* 
##Device = Tablets, Ipads (portrait)
##Screen =  768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .contact-container {
    height: 100vh;
  }
  .contact-container .contact-content::before {
    width: 30%;
    height: 65%;
    top: 60%;
  }
  .contact-container .contact-content .contact-img {
    width: 35%;
    height: 35%;
    top: 45%;
    left: 30%;
    transform: translate(-45%, -30%);
  }
  .contact-container .contact-content .contact-text {
    width: 40%;
    height: 30%;
    top: 80%;
    left: 70%;
    transform: translate(-80%, -70%);
  }
}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/
@media (min-width: 960px) and (max-width: 1300px) and (orientation: landscape) {
  .contact-container {
    height: 150vh;
  }
  .contact-container .contact-content::before {
    width: 30%;
    height: 65%;
    top: 60%;
  }
  .contact-container .contact-content .contact-img {
    width: 35%;
    height: 35%;
    top: 45%;
    left: 30%;
    transform: translate(-45%, -30%);
  }
  .contact-container .contact-content .contact-text {
    width: 40%;
    height: 30%;
    top: 80%;
    left: 70%;
    transform: translate(-80%, -70%);
  }
}

/* 
##Device = Laptop(portrait)
##Screen = B/w 1200px to 1450px
*/
@media (min-width: 1200px) and (max-width: 1450px) {
  .contact-container {
    height: 150vh;
  }
  .contact-container .contact-content::before {
    width: 30%;
    height: 65%;
    top: 60%;
  }
  .contact-container .contact-content .contact-img {
    width: 30%;
    height: 35%;
    top: 45%;
    left: 30%;
    transform: translate(-45%, -30%);
  }
  .contact-container .contact-content .contact-text {
    width: 35%;
    height: 30%;
    top: 80%;
    left: 70%;
    transform: translate(-80%, -70%);
  }
}
