/** @format */
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.screenshot-container a, .ace-container .aceTop-container .aceTop-text .aceTop-title a, .highlights-container .highlights-top .highTop-content a, .randomSkits-container .randomSkits-content .randomSkits-text a {
  border: 1px solid #d82d2d;
  border-radius: 0.2rem;
  padding: 1rem 2.5rem;
  font: 600 1rem "Raleway", sans-serif;
  color: white;
  background-color: #d82d2d;
  transition: 0.3s ease-out;
}

.screenshot-container a:hover, .ace-container .aceTop-container .aceTop-text .aceTop-title a:hover, .highlights-container .highlights-top .highTop-content a:hover, .randomSkits-container .randomSkits-content .randomSkits-text a:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);
  background-color: #ec2d2d;
}

.screenshot-container a, .ace-container .aceTop-container .aceTop-text .aceTop-title a, .highlights-container .highlights-top .highTop-content a, .randomSkits-container .randomSkits-content .randomSkits-text a {
  border: 1px solid #d82d2d;
  border-radius: 0.2rem;
  padding: 1rem 2.5rem;
  font: 600 1rem "Raleway", sans-serif;
  color: white;
  background-color: #d82d2d;
  transition: 0.3s ease-out;
}

.screenshot-container a:hover, .ace-container .aceTop-container .aceTop-text .aceTop-title a:hover, .highlights-container .highlights-top .highTop-content a:hover, .randomSkits-container .randomSkits-content .randomSkits-text a:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);
  background-color: #ec2d2d;
}

nav {
  width: 100%;
  height: 10vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: sticky;
  top: 0;
  z-index: 99;
}

.logo {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.logo h1 {
  margin: 1.5rem 0rem;
  color: #333333;
  font-size: clamp(1.5rem, 1.3vw, 40rem);
  font-weight: 300;
  transition: .3s ease;
}

.logo h1:hover {
  color: #d82d2d;
}

.logo i {
  display: none;
  transition: .5s ease;
}

.logo i:hover {
  color: #d82d2d;
}

.navlink-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 60%;
}

.navlink-container ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.navlink-container ul li, .navlink-container ul a {
  margin: 0rem 1rem;
  font-size: clamp(1rem, 1vw, 20rem);
  color: #333333;
  font-weight: 200;
  cursor: pointer;
  transition: .3s ease;
}

.navlink-container ul li:hover, .navlink-container ul a:hover {
  color: #d82d2d;
}

.dropdown {
  display: inline-block;
  position: relative;
  z-index: 99;
}

.dropdown i {
  transition: .3s ease-out;
}

.dropdown:hover i {
  transform: rotate(180deg);
}

.dropdown .dropdwn-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  padding: 1rem 0rem;
  text-align: center;
  background-color: white;
  z-index: 3;
  position: absolute;
  transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.dropdown:hover .dropdwn-content {
  opacity: 1;
  visibility: visible;
}

.dropdown:hover .dropdwn-content a, .dropdown:hover .dropdwn-content i {
  font-size: clamp(1rem, 1vw, 10rem);
  padding: 1rem 0rem;
}

.dropdown:hover .dropdwn-content a:hover, .dropdown:hover .dropdwn-content i:hover {
  color: #d82d2d;
}

.dropdown2 {
  display: inline-block;
  position: relative;
}

.dropdown2 #drop-i {
  transform: rotate(270deg);
  transition: .3s ease-out;
}

.dropdown2:hover #drop-i {
  transform: rotate(360deg);
}

.dropdown2 .dropdwn-content2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  text-align: center;
  opacity: 0;
  width: 100%;
  padding: 1rem 1rem;
  z-index: 3;
  transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  position: absolute;
  top: 50%;
  left: 101%;
}

.dropdown2:hover .dropdwn-content2 {
  opacity: 1;
}

.dropdown2:hover .dropdwn-content2 a, .dropdown2:hover .dropdwn-content2 i {
  padding: 1rem 0rem;
  font-size: 1rem, 1vw, 4rem;
}

.dropdown2:hover .dropdwn-content2 a:hover, .dropdown2:hover .dropdwn-content2 i:hover {
  color: #d82d2d;
}

.search-container {
  padding: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.search-container .sarch {
  font-size: clamp(1rem, 0.8vw, 2rem);
}

.search-container .search {
  width: 100%;
}

.search-container input[type=search] {
  opacity: 0;
  width: 0%;
  padding: .5rem 0rem;
  border: 1px solid rgba(0, 0, 0, 0.171);
  border-radius: .3rem;
  color: #d82d2d;
  font-size: 1rem;
  outline: none;
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  caret-color: #d82d2d;
}

.search-container:hover input[type=search] {
  opacity: 1;
  width: 85%;
}

.search-container:hover input[type=search] input[type="search"]::-webkit-search-cancel-button,
.search-container:hover input[type=search] input[type="search"]::-webkit-search-results-button,
.search-container:hover input[type=search] input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

@media (max-width: 980px) {
  nav {
    height: 10vh;
  }
  .logo {
    width: 100%;
    justify-content: space-around;
  }
  .logo i {
    display: inline;
  }
  .navlink-container {
    display: none;
  }
  .navlink-container.toggleNav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: block;
    position: absolute;
    top: 100%;
    background-color: white;
    z-index: 99;
  }
  .navlink-container.toggleNav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .navlink-container.toggleNav ul li {
    padding: 1rem 0rem;
  }
  .dropdown {
    width: 100%;
    text-align: center;
  }
  .dropdown i {
    display: none;
  }
  .dropdown .dropdwn-content i {
    display: none;
  }
  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
  }
  .search input[type=search] {
    width: 80%;
    display: inline;
    opacity: 1;
    margin-left: 1rem;
  }
}

@media (max-width: 900px) and (min-width: 660px) and (orientation: landscape) {
  nav {
    height: 15vh;
  }
}

@media (min-width: 720px) and (max-width: 1030px) {
  .search-container {
    display: none;
  }
  .dropdown i {
    display: none;
  }
}

footer {
  width: 100%;
  height: 10vh;
  background-color: #0e1015;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

footer .footer-text {
  width: auto;
  height: auto;
}

footer .footer-social {
  width: auto;
  height: auto;
}

footer .footer-social i {
  margin: 0rem .5rem;
  font-size: 1.3rem;
  transition: all .3s ease-in;
}

footer .footer-social i:hover {
  color: #d82d2d;
}

/**
 * /* 
 *   ##Device = Most of the Smartphones Mobiles (Portrait)
 *   ##Screen = 320px to 479px
 *
 * @format
 */
@media (min-width: 240px) and (max-width: 480px) {
  footer {
    height: 15vh;
    flex-direction: column;
    text-align: center;
    padding: 0rem .5rem;
  }
}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = 481px to 767px
*/
@media (min-width: 565px) and (max-width: 960px) and (orientation: landscape) {
  footer {
    height: 20vh;
  }
}

/* 
##Device = Tablets, Ipads (portrait)
##Screen =  768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  footer {
    height: 10vh;
  }
}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/
/* 
##Device = Laptop(portrait)
##Screen = B/w 1200px to 1450px
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}

.recording-header {
  width: 100%;
  height: 100vh;
  position: relative;
}

.recording-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recording-header::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.295);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

.recording-header .header-text {
  width: fit-content;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 2rem 2rem;
  border: 5px solid white;
  color: white;
  position: absolute;
  bottom: 15%;
  left: 10%;
  z-index: 5;
}

.recording-header .header-text h1 {
  font-size: clamp(2rem, 5rem, 7vw);
  margin-bottom: 1rem;
  letter-spacing: .2rem;
}

.recording-header .header-text p {
  font-family: "Open Sans", sans-serif;
}

.recording-header .header-text a {
  color: white;
  font-size: clamp(1.5rem, 3rem, 5vw);
  transition: .3s ease;
}

.recording-header .header-text a:hover {
  color: #d82d2d;
}

.screenshot-container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e7e6e4;
}

.screenshot-container .screenshot-title {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.screenshot-container .screenshot-title h1 {
  font-size: clamp(1.5rem, 3.5rem, 5vw);
  text-transform: uppercase;
  letter-spacing: 1.4;
}

.screenshot-container .screenshot-content {
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.screenshot-container .screenshot-content .ss-content {
  width: 20%;
  height: 75%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.15);
  margin: 0rem 1rem;
  transition: all .7s ease;
  position: relative;
}

.screenshot-container .screenshot-content .ss-content img {
  width: 90%;
  height: 60%;
  object-fit: cover;
  transition: .7s ease;
}

.screenshot-container .screenshot-content .ss-content .content-text {
  width: 100%;
  height: 25%;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  transition: .7s ease;
}

.screenshot-container .screenshot-content .ss-content .content-text p {
  margin: 1rem 0rem;
  color: #8c979e;
}

.screenshot-container .ss-content1:hover, .screenshot-container .ss-content2:hover, .screenshot-container .ss-content3:hover {
  box-shadow: unset;
  background-color: transparent;
}

.screenshot-container .ss-content1:hover img, .screenshot-container .ss-content2:hover img, .screenshot-container .ss-content3:hover img {
  width: 100%;
  height: 100%;
}

.screenshot-container .ss-content1:hover .content-text, .screenshot-container .ss-content2:hover .content-text, .screenshot-container .ss-content3:hover .content-text {
  opacity: 0;
}

.ace-container {
  width: 100%;
  height: 130vh;
  background-color: #0d0d1c;
}

.ace-container .aceTop-container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.ace-container .aceTop-container .aceTop-img {
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row;
}

.ace-container .aceTop-container .aceTop-img img {
  width: 40%;
  height: 40%;
  object-fit: cover;
}

.ace-container .aceTop-container .aceTop-text {
  width: 45%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  position: relative;
}

.ace-container .aceTop-container .aceTop-text .aceTop-title {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  margin: 5rem 0rem 0rem 2rem;
  width: 50%;
  height: auto;
}

.ace-container .aceTop-container .aceTop-text .aceTop-title h1 {
  font-size: clamp(1rem, 3.5rem, 8vw);
  margin-bottom: 1rem;
}

.ace-container .aceTop-container .aceTop-text .aceTop-title p {
  line-height: 1.5;
  margin-bottom: 1rem;
}

.ace-container .aceTop-container .aceTop-text .aceTop-title a {
  padding: .5rem 1.5rem;
  letter-spacing: .1rem;
}

.ace-container .aceTop-container .aceTop-text .acetext-vid {
  width: 65%;
  height: 75%;
  position: absolute;
  left: -10%;
  bottom: -45%;
}

.ace-container .aceTop-container .aceTop-text .acetext-vid video {
  width: 100%;
  height: 100%;
}

.ace-container .aceBottom-container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.ace-container .aceBottom-container .aceBottom-content {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.ace-container .aceBottom-container .aceBottom-content .acebottom-img1 {
  width: 25%;
  height: 50%;
  align-self: flex-start;
  margin-top: 4rem;
  border: 10px solid #d82d2d;
  transition: .3s ease;
}

.ace-container .aceBottom-container .aceBottom-content .acebottom-img1:hover {
  border: 1px solid transparent;
}

.ace-container .aceBottom-container .aceBottom-content .acebottom-vid {
  width: 45%;
  height: 45%;
  align-self: flex-end;
  justify-self: flex-end;
  margin-bottom: 7rem;
}

.ace-container .aceBottom-container .aceBottom-content .aceBottom-text {
  width: 20%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: flex-end;
  color: #d82d2d;
  margin-bottom: 6rem;
  text-align: center;
}

.ace-container .aceBottom-container .aceBottom-content .aceBottom-text h2 {
  font-size: clamp(2rem, 2.3rem, 3vw);
}

.ace-container .aceBottom-container .aceBottom-content .aceBottom-text hr {
  color: #d82d2d;
  margin: 1rem 0rem;
  width: 100%;
}

.ace-container .aceBottom-container .aceBottom-content .aceBottom-text .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.ace-container .aceBottom-container .aceBottom-content .aceBottom-text .socials i {
  margin: 0rem .5rem;
  font-size: 1.5rem;
  transition: .3s ease-in;
}

.ace-container .aceBottom-container .aceBottom-content .aceBottom-text .socials i:hover {
  color: white;
}

.ace-container .aceBottom-container .aceBottom-content .aceBottom-text p {
  line-height: 1.5;
}

.highlights-container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.highlights-container::before {
  content: '';
  width: 60%;
  height: 30%;
  background-color: #0d0d1c;
  position: absolute;
  top: 25%;
  left: 20%;
  z-index: -4;
}

.highlights-container .highlights-top {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 1.5rem;
}

.highlights-container .highlights-top .highTop-content {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 4rem 0rem 0rem 0rem;
  text-align: start;
  transition: .3s ease;
}

.highlights-container .highlights-top .highTop-content:hover {
  width: 75%;
}

.highlights-container .highlights-top .highTop-content:hover img {
  height: 50%;
}

.highlights-container .highlights-top .highTop-content img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  margin-bottom: 2.5rem;
  transition: .3s ease;
}

.highlights-container .highlights-top .highTop-content p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5rem;
  margin-bottom: 3rem;
}

.highlights-container .highlights-bottom {
  width: 50%;
  height: 100%;
  margin-left: 1.5rem;
}

.highlights-container .highlights-bottom .highBot-content {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 5rem 0rem 0rem 0rem;
  text-align: start;
  transition: .3s ease;
}

.highlights-container .highlights-bottom .highBot-content:hover {
  width: 65%;
}

.highlights-container .highlights-bottom .highBot-content:hover img {
  height: 45%;
}

.highlights-container .highlights-bottom .highBot-content h2 {
  color: #d82d2d;
  font-size: clamp(1.5rem, 2.5rem, 5vw);
  margin-bottom: 2rem;
}

.highlights-container .highlights-bottom .highBot-content img {
  width: 100%;
  height: 75%;
  object-fit: cover;
  transition: .3s ease;
}

.randomSkits-container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.randomSkits-container::before {
  content: '';
  width: 30%;
  height: 90%;
  background-color: #0d0d1c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.randomSkits-container::after {
  content: '';
  width: 40%;
  height: 38%;
  background-color: #d82d2d;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.randomSkits-container .randomSkits-content {
  width: 35%;
  height: 100%;
  z-index: 69;
  text-align: center;
}

.randomSkits-container .randomSkits-content img {
  width: 100%;
  height: 40%;
  margin-top: 7rem;
}

.randomSkits-container .randomSkits-content .randomSkits-text {
  width: 100%;
  height: auto;
  margin-top: 5rem;
}

.randomSkits-container .randomSkits-content .randomSkits-text h2 {
  color: #d82d2d;
  font-size: clamp(1.5rem, 3.5rem, 4vw);
}

.randomSkits-container .randomSkits-content .randomSkits-text p {
  color: white;
  line-height: 1.6;
  font-size: clamp(1rem, 1.3rem, 4vw);
  padding: 2rem 3.5rem 3rem 3.5rem;
}

.funEpic-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.funEpic-container .funnyMoments-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  padding: 5rem 1.5rem 0rem 0rem;
}

.funEpic-container .funnyMoments-container .funnyMoments-img {
  width: 50%;
  height: 65%;
  position: relative;
  transition: .6s ease;
}

.funEpic-container .funnyMoments-container .funnyMoments-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.funEpic-container .funnyMoments-container .funnyMoments-img .funny-card {
  width: 80%;
  height: auto;
  bottom: -30%;
  left: 50%;
  transform: translateX(-50%);
  transition: .6s ease;
}

.funEpic-container .funnyMoments-container .funnyMoments-img:hover {
  width: 65%;
  height: 90%;
}

.funEpic-container .funnyMoments-container .funnyMoments-img:hover .funny-card {
  width: 50%;
  left: -15%;
  bottom: 30%;
}

.funEpic-container .epicFails-container {
  width: 50%;
  height: 100%;
}

.funEpic-container .epicFails-container .epicFail-img {
  width: 60%;
  height: 100%;
  padding: 5rem 0rem 0rem 1.5rem;
  position: relative;
  transition: .6s ease;
}

.funEpic-container .epicFails-container .epicFail-img img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.funEpic-container .epicFails-container .epicFail-img .epic-card {
  width: 40%;
  height: 30%;
  top: 50%;
  transform: translateY(-50%);
  right: -20%;
  transition: .6s ease;
}

.funEpic-container .epicFails-container .epicFail-img:hover {
  width: 90%;
  height: 75%;
}

.funEpic-container .epicFails-container .epicFail-img:hover .epic-card {
  top: 90%;
  right: 30%;
}

.funEpic-container .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem 1rem;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.15);
  background-color: white;
  position: absolute;
}

.funEpic-container .card h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.funEpic-container .card p {
  line-height: 1.5;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  font-family: "Open Sans", sans-serif;
}

.funEpic-container .card a {
  text-decoration: underline;
  color: #d82d2d;
}

.updated-container {
  width: 100%;
  height: 50vh;
  margin-top: 10rem;
  display: flex;
}

.updated-container .updated-img1, .updated-container .updated-content, .updated-container .updated-img2 {
  width: 33.333%;
  height: 100%;
}

.updated-container .updated-img1, .updated-container .updated-img2 {
  z-index: -2;
}

.updated-container .updated-img1 img, .updated-container .updated-img2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.updated-container .updated-content {
  background-color: #0d0d1c;
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0rem 1rem;
}

.updated-container .updated-content h2 {
  margin: 2rem 0rem;
  font-size: clamp(1.5rem, 3rem, 5vw);
}

.updated-container .updated-content h4 {
  font-size: clamp(1rem, 1rem, 4vw);
  color: #d82d2d;
}

.updated-container .updated-content p {
  line-height: 1.5;
  margin: 2rem 0rem;
  font-family: "Open Sans", sans-serif;
}

.updated-container .updated-content .socials i {
  font-size: clamp(1rem, 1.5rem, 3vw);
  margin: 0rem 1rem;
  transition: .3s ease;
}

.updated-container .updated-content .socials i:hover {
  color: #d82d2d;
}

.updated-container .updated-content::before {
  content: '';
  width: 135%;
  height: 25%;
  background-color: #d82d2d;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = 320px to 479px
*/
@media (min-width: 240px) and (max-width: 480px) {
  .recording-header {
    height: 100vh;
  }
  .recording-header .header-text {
    padding: 1rem 3rem 1rem 1rem;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
  .recording-header .header-text h1 {
    margin-bottom: 0rem;
  }
  .screenshot-container {
    height: 180vh;
  }
  .screenshot-container .screenshot-title {
    height: 10%;
  }
  .screenshot-container .screenshot-content {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .screenshot-container .screenshot-content .ss-content {
    width: 85%;
    height: 100%;
    margin: 1rem 0rem;
  }
  .screenshot-container .screenshot-content .ss-content img {
    width: 90%;
    height: 60%;
    object-fit: cover;
    transition: .3s ease-in;
  }
  .screenshot-container a {
    margin: 1rem;
  }
  .ace-container {
    height: 250vh;
  }
  .ace-container .aceTop-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50%;
  }
  .ace-container .aceTop-container .aceTop-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .ace-container .aceTop-container .aceTop-img img {
    width: 90%;
    height: 70%;
  }
  .ace-container .aceTop-container .aceTop-text {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .ace-container .aceTop-container .aceTop-text .aceTop-title {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0rem;
  }
  .ace-container .aceTop-container .aceTop-text .aceTop-title h1 {
    margin-top: 2rem;
  }
  .ace-container .aceTop-container .aceTop-text .acetext-vid {
    position: unset;
    width: 90%;
    margin: 2rem 0rem;
  }
  .ace-container .aceBottom-container {
    height: 50%;
  }
  .ace-container .aceBottom-container .aceBottom-content {
    flex-direction: column;
    width: 100%;
  }
  .ace-container .aceBottom-container .aceBottom-content .acebottom-img1 {
    align-self: unset;
    justify-self: unset;
    width: 65%;
    height: 60%;
  }
  .ace-container .aceBottom-container .aceBottom-content .acebottom-vid {
    width: 90%;
    height: 55%;
    margin: 2rem 0rem;
    align-self: unset;
    justify-self: unset;
  }
  .ace-container .aceBottom-container .aceBottom-content .aceBottom-text {
    width: 100%;
  }
  .ace-container .aceBottom-container .aceBottom-content .aceBottom-text hr {
    width: 90%;
  }
  .ace-container .aceBottom-container .aceBottom-content .aceBottom-text p {
    padding: 0rem 2rem;
  }
  .highlights-container {
    flex-direction: column;
    height: 150vh;
  }
  .highlights-container::before {
    width: 100%;
    height: 10%;
    top: 15%;
    left: 0%;
  }
  .highlights-container .highlights-top {
    width: 100%;
    height: 50%;
    margin-right: 0rem;
  }
  .highlights-container .highlights-top .highTop-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .highlights-container .highlights-top .highTop-content img {
    width: 90%;
    height: 100%;
    margin: 0rem 0rem 1rem 0rem;
  }
  .highlights-container .highlights-bottom {
    width: 100%;
    height: 50%;
    margin-left: 0rem;
  }
  .highlights-container .highlights-bottom .highBot-content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0rem;
  }
  .highlights-container .highlights-bottom .highBot-content img {
    width: 90%;
  }
  .randomSkits-container {
    height: 120vh;
  }
  .randomSkits-container::before {
    content: '';
    width: 65%;
    height: 90%;
    background-color: #0d0d1c;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .randomSkits-container::after {
    content: '';
    width: 90%;
    height: 25%;
    top: 15%;
  }
  .randomSkits-container .randomSkits-content {
    width: 100%;
    height: 100%;
  }
  .randomSkits-container .randomSkits-content img {
    width: 80%;
    height: 25%;
    margin-top: 5rem;
  }
  .randomSkits-container .randomSkits-content .randomSkits-text {
    width: 100%;
    margin-top: 5rem;
  }
  .randomSkits-container .randomSkits-content .randomSkits-text h2 {
    color: #d82d2d;
    font-size: clamp(1.5rem, 3.5rem, 4vw);
  }
  .randomSkits-container .randomSkits-content .randomSkits-text p {
    color: white;
    line-height: 1.6;
    font-size: clamp(1rem, 1.3rem, 4vw);
    padding: 2rem 3.5rem 3rem 3.5rem;
  }
  .funEpic-container {
    height: 150vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .funEpic-container .funnyMoments-container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0rem;
  }
  .funEpic-container .funnyMoments-container .funnyMoments-img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .funEpic-container .funnyMoments-container .funnyMoments-img img {
    width: 90%;
    height: 50%;
  }
  .funEpic-container .funnyMoments-container .funnyMoments-img .funny-card {
    height: 50%;
    bottom: 0%;
    left: 0%;
    transform: translateX(0%);
    padding: 0rem;
  }
  .funEpic-container .epicFails-container {
    width: 100%;
    height: 50%;
  }
  .funEpic-container .epicFails-container .epicFail-img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0rem;
  }
  .funEpic-container .epicFails-container .epicFail-img img {
    width: 90%;
    height: 50%;
  }
  .funEpic-container .epicFails-container .epicFail-img .epic-card {
    width: 90%;
    height: 50%;
    top: unset;
    transform: translateY(0%);
    right: unset;
    padding: 0rem;
  }
  .funEpic-container .card {
    position: unset;
    box-shadow: unset;
  }
  .updated-container {
    height: 120vh;
    margin-top: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .updated-container .updated-img1, .updated-container .updated-content, .updated-container .updated-img2 {
    height: 33.333%;
    width: 100%;
  }
  .updated-container .updated-content h2 {
    margin: 1rem 0rem;
  }
  .updated-container .updated-content p {
    margin: 1rem 0rem;
    line-height: unset;
  }
  .updated-container .updated-content::before {
    width: 35%;
    height: 125%;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = 481px to 767px
*/
@media (min-width: 565px) and (max-width: 960px) and (orientation: landscape) {
  .recording-header .header-text {
    width: 35%;
    height: auto;
    padding: .5rem 1rem;
    border: 3px solid white;
    bottom: 15%;
    left: 5%;
  }
  .recording-header .header-text h1 {
    font-size: 2rem;
    margin-bottom: .5rem;
  }
  .screenshot-container {
    height: 250vh;
    padding-bottom: 1rem;
  }
  .screenshot-container .screenshot-title {
    height: 10%;
  }
  .screenshot-container .screenshot-content {
    height: 90%;
    flex-wrap: wrap;
  }
  .screenshot-container .screenshot-content .ss-content {
    width: 40%;
    height: 45%;
  }
  .ace-container {
    height: 450vh;
  }
  .ace-container .aceTop-container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .ace-container .aceTop-container .aceTop-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 45%;
    padding: 0rem;
  }
  .ace-container .aceTop-container .aceTop-img img {
    width: 80%;
    height: 60%;
  }
  .ace-container .aceTop-container .aceTop-text {
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .ace-container .aceTop-container .aceTop-text .aceTop-title {
    padding: 0rem 5rem 0rem 5rem;
    margin: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .ace-container .aceTop-container .aceTop-text .acetext-vid {
    width: 45%;
    position: unset;
  }
  .ace-container .aceBottom-container {
    height: 50%;
  }
  .ace-container .aceBottom-container .aceBottom-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: space-around;
    flex-direction: column;
  }
  .ace-container .aceBottom-container .aceBottom-content .acebottom-img1 {
    width: 30%;
    height: 33%;
    align-self: center;
    margin-top: 0rem;
  }
  .ace-container .aceBottom-container .aceBottom-content .acebottom-vid {
    width: 50%;
    height: 33%;
    align-self: center;
    justify-self: center;
    margin: 2rem 0rem  0rem 0rem;
  }
  .ace-container .aceBottom-container .aceBottom-content .aceBottom-text {
    width: 40%;
    height: 33%;
    align-self: center;
    margin-bottom: 0rem;
  }
  .highlights-container {
    height: 200vh;
  }
  .highlights-container::before {
    width: 90%;
    height: 35%;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
  }
  .highlights-container .highlights-top {
    width: 50%;
    height: 100%;
    margin-right: 1rem;
  }
  .highlights-container .highlights-top .highTop-content {
    width: 75%;
    padding: 5rem 0rem 0rem 0rem;
  }
  .highlights-container .highlights-top .highTop-content img {
    width: 100%;
    height: 90%;
    margin-bottom: 2rem;
  }
  .highlights-container .highlights-top .highTop-content p {
    line-height: unset;
  }
  .highlights-container .highlights-bottom {
    width: 50%;
    margin-left: 1rem;
  }
  .highlights-container .highlights-bottom .highBot-content {
    width: 70%;
    padding: 5rem 0rem 0rem 0rem;
  }
  .highlights-container .highlights-bottom .highBot-content h2 {
    margin-bottom: 1rem;
  }
  .highlights-container .highlights-bottom .highBot-content img {
    width: 100%;
    height: 75%;
  }
  .randomSkits-container {
    height: 250vh;
  }
  .randomSkits-container::before {
    width: 40%;
  }
  .randomSkits-container::after {
    width: 60%;
    height: 25%;
  }
  .randomSkits-container .randomSkits-content {
    width: 50%;
    margin-top: 7rem;
  }
  .randomSkits-container .randomSkits-content img {
    height: 30%;
    margin-top: 3rem;
  }
  .randomSkits-container .randomSkits-content .randomSkits-text {
    width: 100%;
  }
  .randomSkits-container .randomSkits-content .randomSkits-text p {
    line-height: unset;
    padding: 1rem 2rem 2rem 2rem;
  }
  .funEpic-container {
    height: 250vh;
  }
  .funEpic-container .funnyMoments-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    padding: 5rem 1rem 0rem 0rem;
  }
  .funEpic-container .funnyMoments-container .funnyMoments-img {
    width: 85%;
  }
  .funEpic-container .epicFails-container {
    width: 50%;
    height: 100%;
  }
  .funEpic-container .epicFails-container .epicFail-img {
    width: 85%;
    height: 75%;
    padding: 5rem 0rem 0rem 1rem;
  }
  .funEpic-container .epicFails-container .epicFail-img .epic-card {
    width: 80%;
    height: 35%;
    bottom: -12%;
    top: unset;
    left: 50%;
    transform: translateX(-50%);
    transition: .6s ease;
  }
  .funEpic-container .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 2rem 1rem;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.15);
    background-color: white;
    position: absolute;
  }
  .funEpic-container .card h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .funEpic-container .card p {
    line-height: 1.5;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    font-family: "Open Sans", sans-serif;
  }
  .funEpic-container .card a {
    text-decoration: underline;
    color: #d82d2d;
  }
  .updated-container {
    height: 100vh;
    margin-top: 5rem;
  }
  .updated-container .updated-content h2 {
    margin: 1rem 0rem;
  }
  .updated-container .updated-content p {
    line-height: unset;
    margin: 1rem 0rem;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen =  768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .recording-header {
    height: 90vh;
  }
  .recording-header .header-text {
    padding: 1rem;
    bottom: 5%;
    left: 5%;
  }
  .screenshot-container {
    height: 100vh;
  }
  .screenshot-container .screenshot-title {
    height: 20%;
  }
  .screenshot-container .screenshot-content {
    height: 65%;
    flex-wrap: wrap;
  }
  .screenshot-container .screenshot-content .ss-content {
    width: 40%;
    height: 45%;
  }
  .screenshot-container a {
    margin: 1rem;
  }
  .ace-container {
    height: 100vh;
  }
  .ace-container .aceTop-container .aceTop-img {
    width: 45%;
  }
  .ace-container .aceTop-container .aceTop-img img {
    width: 80%;
    height: 30%;
  }
  .ace-container .aceTop-container .aceTop-text {
    width: 55%;
    align-items: flex-end;
    padding-bottom: 5rem;
  }
  .ace-container .aceTop-container .aceTop-text .aceTop-title {
    width: 100%;
  }
  .ace-container .aceTop-container .aceTop-text .acetext-vid {
    width: 85%;
    left: -15%;
    bottom: -50%;
  }
  .ace-container .aceBottom-container .aceBottom-content {
    width: 100%;
  }
  .ace-container .aceBottom-container .aceBottom-content .acebottom-vid {
    width: 35%;
  }
  .highlights-container {
    flex-direction: column;
  }
  .highlights-container::before {
    width: 100%;
    height: 10%;
    top: 15%;
    left: 0%;
  }
  .highlights-container .highlights-top {
    width: 100%;
    height: 50%;
    margin-right: 0rem;
  }
  .highlights-container .highlights-top .highTop-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .highlights-container .highlights-top .highTop-content img {
    width: 90%;
    height: 100%;
    margin: 0rem 0rem 1rem 0rem;
  }
  .highlights-container .highlights-top .highTop-content p {
    padding: 0rem 2rem;
  }
  .highlights-container .highlights-bottom {
    width: 100%;
    height: 50%;
    margin-left: 0rem;
  }
  .highlights-container .highlights-bottom .highBot-content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0rem;
  }
  .highlights-container .highlights-bottom .highBot-content img {
    width: 95%;
  }
  .randomSkits-container {
    height: 100vh;
  }
  .randomSkits-container::before {
    width: 45%;
  }
  .randomSkits-container::after {
    width: 65%;
    height: 30%;
    top: 25%;
  }
  .randomSkits-container .randomSkits-content {
    width: 55%;
  }
  .randomSkits-container .randomSkits-content img {
    height: 35%;
    margin-top: 10rem;
  }
  .randomSkits-container .randomSkits-content .randomSkits-text {
    margin-top: 7rem;
  }
  .randomSkits-container .randomSkits-content .randomSkits-text p {
    padding: 1rem 3.5rem 1.5rem 3.5rem;
  }
  .funEpic-container .funnyMoments-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    padding: 5rem 1rem 0rem 0rem;
  }
  .funEpic-container .funnyMoments-container .funnyMoments-img {
    width: 90%;
    height: 65%;
  }
  .funEpic-container .funnyMoments-container .funnyMoments-img .funny-card {
    width: 85%;
    bottom: -20%;
  }
  .funEpic-container .epicFails-container {
    width: 50%;
    height: 100%;
  }
  .funEpic-container .epicFails-container .epicFail-img {
    width: 90%;
    height: 67.5%;
    padding: 5rem 0rem 0rem 1rem;
  }
  .funEpic-container .epicFails-container .epicFail-img img {
    width: 100%;
    height: 100%;
  }
  .funEpic-container .epicFails-container .epicFail-img .epic-card {
    width: 80%;
    height: auto;
    top: 92%;
    left: 12%;
    transform: unset;
  }
  .updated-container {
    height: 45vh;
    margin-top: 0rem;
  }
  .updated-container .updated-content .socials i {
    margin: 0rem .2rem;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 960px) and (max-width: 1366px) and (orientation: landscape) {
  .randomSkits-container {
    height: 150vh;
  }
  .randomSkits-container::after {
    height: 25%;
  }
  .randomSkits-container .randomSkits-content img {
    height: 25%;
  }
  .randomSkits-container .randomSkits-content .randomSkits-text {
    margin-top: 10rem;
  }
  .funEpic-container .funnyMoments-container .funnyMoments-img {
    width: 80%;
    height: 55%;
  }
  .funEpic-container .epicFails-container .epicFail-img {
    width: 75%;
  }
  .funEpic-container .epicFails-container .epicFail-img .epic-card {
    width: 45%;
    height: 50%;
    right: -30%;
  }
}

/* 
  ##Device = Laptop(portrait)
  ##Screen = B/w 1200px to 1450px
*/
@media (min-width: 1200px) and (max-width: 1450px) {
  .recording-header .header-text {
    left: 5%;
  }
  .screenshot-container .screenshot-content {
    width: 100%;
  }
  .screenshot-container .screenshot-content .ss-content {
    width: 25%;
  }
  .ace-container {
    height: 150vh;
  }
  .ace-container .aceTop-container .aceTop-img img {
    width: 55%;
    height: 45%;
  }
  .ace-container .aceTop-container .aceTop-text .aceTop-title {
    width: 75%;
    margin: 5rem 0rem 0rem 2rem;
  }
  .ace-container .aceTop-container .aceTop-text .acetext-vid {
    width: 85%;
    left: -20%;
    bottom: -40%;
  }
  .ace-container .aceBottom-container .aceBottom-content {
    width: 70%;
  }
  .ace-container .aceBottom-container .aceBottom-content .acebottom-vid {
    margin-bottom: 7rem;
  }
  .ace-container .aceBottom-container .aceBottom-content .aceBottom-text {
    margin-bottom: 7rem;
  }
  .highlights-container {
    height: 120vh;
  }
  .highlights-container::before {
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
  }
  .highlights-container .highlights-top .highTop-content {
    width: 70%;
  }
  .highlights-container .highlights-bottom .highBot-content {
    width: 70%;
  }
  .highlights-container .highlights-bottom .highBot-content:hover {
    width: 80%;
  }
}
